@model CapstoneProject_Ecommerce.Models.PRODOTTO

@{
    ViewBag.Title = "Create";
}

<h2>CREA PRODOTTO</h2>


@using (Html.BeginForm("Create", "PRODOTTO", FormMethod.Post, new { @enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>PRODOTTO</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NomeProdotto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NomeProdotto, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomeProdotto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descrizione, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Prezzo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{Html.EnableClientValidation(false);}
            @Html.EditorFor(model => model.Prezzo, new { htmlAttributes = new { @class = "form-control" } })
            @{Html.EnableClientValidation(true);}
            
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Quantità Taglia S", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Quantità", new { htmlAttributes = new { @class = "form-control", @type = "number" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Quantità Taglia M ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("QuantitàM", new { htmlAttributes = new { @class = "form-control", @type = "number" } })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Quantità Taglia L", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("QuantitàL", new { htmlAttributes = new { @class = "form-control", @type = "number" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("File", null, new { @class = "form-control", @type = "File" })
            @Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "ListaAdmin")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
