@model CapstoneProject_Ecommerce.Models.PRODOTTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRODOTTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeProdotto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProdotto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.IdProdotto }) |
    @Html.ActionLink("Lista prodotti", "ListaAdmin")
</p>
