@model CapstoneProject_Ecommerce.Models.PRODOTTO

@{
    ViewBag.Title = "Details";
}

<h2>Dettali prodotto</h2>

<div class="container" id="ContEdit">
    <div>
        @Html.ActionLink("Lista prodotti", "ListaAdmin")

        <hr />
        <dl class="dl-horizontal">
            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.NomeProdotto)
            </dt>

            <dd  class="mx-4">
                @Html.DisplayFor(model => model.NomeProdotto)
            </dd>

            <dt  class="mx-4">
                @Html.DisplayNameFor(model => model.Descrizione)
            </dt>

            <dd  class="mx-4">
                @Html.DisplayFor(model => model.Descrizione)
            </dd>

            <dt  class="mx-4">
                @Html.DisplayNameFor(model => model.Prezzo)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.Prezzo)
            </dd>

            <dt  class="mx-4">
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd  class="mx-4">
                @Html.DisplayFor(model => model.Foto)
            </dd>

        </dl>
    </div>
    <p class=" mt-5 text-center p-2" id="contBtn" style="width: 100%">
        <a style="color:white" @Html.ActionLink("Modifica", "Edit", new { id = Model.IdProdotto })</a>
    </p>
</div>