@model IEnumerable<CapstoneProject_Ecommerce.Models.PRODOTTO>

@{
    ViewBag.Title = "ListaAdmin";
}

<h2>AMMINISTRAZIONE</h2>


<div class="container" id="areaRiservata">

   
    <p>
        @Html.ActionLink("Crea Prodotto", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProdotto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeProdotto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prezzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProdotto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeProdotto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descrizione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prezzo)
                </td>
                <td>
                    <img src="~/Content/img/@Html.DisplayFor(modelItem => item.Foto)" width="100" />
                </td>
                <td>
                    @Html.ActionLink("Modifica", "Edit", new { id = item.IdProdotto }) |
                    @Html.ActionLink("Dettagli", "Details", new { id = item.IdProdotto }) |
                    @Html.ActionLink("Elimina", "Delete", new { id = item.IdProdotto })
                </td>
            </tr>
        }

    </table>
</div>
