@model IEnumerable<CapstoneProject_Ecommerce.Models.DETTAGLIO>

@{
    ViewBag.Title = "Carrello";
}

<h2>Carrello</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.ORDINE.Confermato)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODOTTO.NomeProdotto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAGLIE.TagliaProdotto)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.USER.Username)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrezzoTotale)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.ORDINE.Confermato)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODOTTO.NomeProdotto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAGLIE.TagliaProdotto)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.USER.Username)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezzoTotale)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDettaglio }) |
          
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDettaglio })
        </td>
    </tr>
}

</table>
<btn class="btn btn-default" > <a href="/Ordine/Create">CONFERMA ORDINE</a></btn>