@model CapstoneProject_Ecommerce.Models.DETTAGLIO

@{
    ViewBag.Title = "Delete";
}

<h2>ELIMINA ORDINE</h2>

<div class="container" id="ContEdit">

    @Html.ActionLink("CARRELLO", "Carrello")

    <hr />

    <h3 class="mx-4 mb-4">Sei sicuro di volerlo eliminare?</h3>

    <div class="mt-2">

        <dl class="dl-horizontal">
            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.ORDINE.Confermato)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.ORDINE.Confermato)
            </dd>

            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.PRODOTTO.NomeProdotto)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.PRODOTTO.NomeProdotto)
            </dd>

            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.TAGLIE.TagliaProdotto)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.TAGLIE.TagliaProdotto)
            </dd>

            <dt class="mx-4">
                @*@Html.DisplayNameFor(model => model.USER.Username)*@
            </dt>

            <dd class="mx-4">
                @*@Html.DisplayFor(model => model.USER.Username)*@
            </dd>

            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.Quantita)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.Quantita)
            </dd>

            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.PrezzoTotale)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.PrezzoTotale)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center" id="contBtn" style="width: 100%">
                <input type="submit" value="ELIMINA" class="btn btn-default" />
            </div>
        }
    </div>
</div>