@model CapstoneProject_Ecommerce.Models.ORDINE

@{
    ViewBag.Title = "Delete";
}

<h2>ELIMINA PRODOTTO</h2>

<div class="container" id="ContEdit">

    @Html.ActionLink("Annulla", "Index")

    <hr />

    <h3 class="mx-4 mb-4">Sei sicuro di volerlo eliminare?</h3>

    <div class="mt-2">
        
        <dl class="dl-horizontal">
            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.USER.Username)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.USER.Username)
            </dd>

            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.Confermato)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.Confermato)
            </dd>

            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.DataOrdine)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.DataOrdine)
            </dd>

            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.ImportoTotale)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.ImportoTotale)
            </dd>

            <dt class="mx-4">
                @Html.DisplayNameFor(model => model.Evaso)
            </dt>

            <dd class="mx-4">
                @Html.DisplayFor(model => model.Evaso)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center" id="contBtn" style="width: 100%">
                <input type="submit" value="ELIMINA" class="btn btn-default" />
            </div>
        }
    </div>
</div>