@model IEnumerable<CapstoneProject_Ecommerce.Models.DETTAGLIO>

@{
    ViewBag.Title = "Details";
}

@*<h2>DETTAGLIO ORDINE </h2>*@

<div class="container mt-5" id="ContAll">

    <div>
        @Html.ActionLink("TORNA AGLI ORDINI", "OrdineConfermato", "ORDINE")
    </div>
    <hr />
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ORDINE.IdOrdine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODOTTO.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODOTTO.NomeProdotto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAGLIE.TagliaProdotto)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.USER.Username)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrezzoTotale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ORDINE.Confermato)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ORDINE.IdOrdine)
                </td>
                <td>
                    <img src="~/Content/img/@Html.DisplayFor(modelItem => item.PRODOTTO.Foto)" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PRODOTTO.NomeProdotto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TAGLIE.TagliaProdotto)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.USER.Username)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrezzoTotale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ORDINE.Confermato)
                </td>

            </tr>
        }

    </table>
</div>