@model IEnumerable<CapstoneProject_Ecommerce.Models.ORDINE>

@{
    ViewBag.Title = "OrdineConfermato";
}

<h2>ORDINI</h2>

<div class="container" id="ContAll2">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOrdine)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.USER.Username)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confermato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataOrdine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportoTotale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaso)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdOrdine)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Confermato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataOrdine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportoTotale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Evaso)
                </td>

                <td>
                    @Html.ActionLink("DETTAGLI", "Details", new { id = item.IdOrdine })

                </td>
            </tr>
        }

    </table>
</div>