<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/228474511d.js" crossorigin="anonymous"></script>
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @*@if (ViewContext.RouteData.Values["Controller"].ToString() == "PRODOTTO")
        {*@
    <div class="d-flex flex-column main">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="~/Views/PRODOTTO/Index.cshtml">
                    @*<img src="~/Content/Img/Prova_logo_nik.png" alt="Logo" width="60" class="d-inline-block align-text-top" />*@
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">@Html.ActionLink("🖐 ESCI", "LogOut", "Home") </li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("🔒 ENTRA", "Login", "Home") </li>
                        }

                        @if (User.Identity.Name == "Admin")
                        {

                            <li class="nav-item">@Html.ActionLink("AREA PRIVATA", "ListaAdmin", "PRODOTTO")</li>

                        }
                        <li class="nav-item">@Html.ActionLink("HOME", "Index", "PRODOTTO")</li>

                        @if (User.Identity.Name == "Admin")
                        {

                            <li class="nav-item">@Html.ActionLink("ORDINI", "Index", "Ordine")</li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("ORDINI", "OrdineConfermato", "Ordine")</li>

                        }

                        <li class="nav-item">@Html.ActionLink("GUIDA ALLE TAGLIE", "GuidaAlleTaglie", "PRODOTTO")</li>

                        @if (User.Identity.Name != "Admin")
                        {
                            <li class="nav-item">@Html.ActionLink("🛒", "Carrello", "DETTAGLIO")</li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </div>
    @*}*@

    <div>
        @RenderBody()
    </div>
    @if (User.Identity.IsAuthenticated)
    { 
        <div class="footer-bg ">
            <div class="row footer-menu">


                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h4 class="text-white">Support</h4>
                    <ul>
                        <li><a href="https://www.roces.com/en/terms-and-conditions-of-sale#DELIVERY ">Shipping/Returns</a></li>
                        <li><a href="https://www.roces.com/en/manuals">Manuals</a></li>
                        <li><a href="https://www.roces.com/en/terms-and-conditions-of-sale#GUARANTEE">Warranty</a></li>
                        <li><a href="https://www.roces.com/en/original-product-program">Original Product Program</a></li>
                        <li><a href="https://www.roces.com/en/ec-declarationofconformity">Declaration of Conformity</a></li>
                        <li><a href="https://www.roces.com/en/roces-spare-parts-request">Spare Part Request</a></li>
                        <li><a href="https://www.roces.com/en/contact">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <h4 class="text-white">Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <ul class="inline-list social-media-icons">
                        <li><a href="https://www.facebook.com/rocesofficial" target="_blank" rel="nofollow noopener"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="https://www.instagram.com/roces_official/" target="_blank" rel="nofollow noopener"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/user/roces1952" target="_blank" rel="nofollow noopener"><i class="fa fa-youtube-square"></i></a></li>
                        <!--<li><a href="https://twitter.com/Roces_official" target="_blank" rel="nofollow noopener"><i class="fa fa-twitter-square"></i></a></li>
                        <li><a href="https://it.pinterest.com/rocesofficial/" target="_blank" rel="nofollow noopener"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="https://it.linkedin.com/pub/roces-press-media/6b/101/377" target="_blank" rel="nofollow noopener"><i class="fa fa-linkedin-square"></i></a></li>-->
                    </ul>
                </div>
            </div>
        </div>

    <footer class="fto">
        <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
    </footer>
    }
    @RenderSection("scripts", required: false)
</body>
</html>
