@model CapstoneProject_Ecommerce.Models.Email

@{
    ViewBag.Title = "Contatti";
}

<h2>Contatti</h2>
<div class="container" id="ContEdit">

    <div>
        @Html.ActionLink("HOME", "Index", "PRODOTTO")
    </div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal ContEditBox2 p-2 flex-column">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.mittenteEmail, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.mittenteEmail, new { htmlAttributes = new { @class = "form-control", @style = " width:100%" } })
                    @Html.ValidationMessageFor(model => model.mittenteEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Oggetto, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Oggetto, new { htmlAttributes = new { @class = "form-control", @style = " width:100%" } })
                    @Html.ValidationMessageFor(model => model.Oggetto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Messaggio, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Messaggio, new { htmlAttributes = new { @class = "form-control", @style = " width:100%" } })
                    @Html.ValidationMessageFor(model => model.Messaggio, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-center mt-5" id="contBtn" style="width: 100%">
                <input type="submit" value="INVIA" class="btn btn-default" />
            </div>
        </div>
    }
    @if (Model != null && !string.IsNullOrEmpty(Model.mittenteEmail))
    {
        <div>L'indirizzo email del mittente è: @Model.mittenteEmail</div>
    }
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
